.anchorpane{
     -fx-background-color: white;
}

.top{
    -fx-background-color: DF4EC2;
   
}
.left{
        -fx-background-color: F09ADF;

}
.bottom{
        -fx-background-color: DF4EC2;

}
.right{
       -fx-background-color: F09ADF;
 
}
.btn1{
    -fx-background-color: CAF0DD;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-pref-width: 250;
    -fx-pref-height: 48;   
}
.btn2{
   -fx-background-color: CAF0DD;
   -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
     -fx-pref-width: 250;
    -fx-pref-height: 48;  
}
.btn3{
    -fx-background-color: CAF0DD;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
     -fx-pref-width: 250;
    -fx-pref-height: 48;  
}
.btn4{
    -fx-background-color: CAF0DD;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
     -fx-pref-width: 184;
    -fx-pref-height: 48;  
}
.btn5{
    -fx-background-color: CAF0DD;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
     -fx-pref-width: 383;
    -fx-pref-height: 31;  
}
.sp1{
   -fx-border-color: black; 
}
.sp2{
     -fx-border-color: black; 
    
}
.sp3{
     -fx-border-color: black; 
}
.sp4{
     -fx-border-color: black; 
}
.sp5{
     -fx-border-color: black; 
}
.sp6{
     -fx-border-color: black; 
}
.sp7{
     -fx-border-color: black; 
}
.sp8{
     -fx-border-color: black; 
}
.sp9{
     -fx-border-color: black; 
}
.lbl{
    
     -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;

}
.label12{
     -fx-text-fill: CAF0DD;
}
.label1{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
.label2{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
.label3{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
.label4{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
.label5{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
.label6{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
.label7{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
.label8{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
.label9{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
